@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

.gradient-line {
    height: 5px;
    background-image: linear-gradient(to right,rgb(70,130,180) ,rgb(103, 216, 253));
}

body {
    background-color: rgb(220,220,220);
    width: 100vw;
    height: 100vh;
}

.gothic {
    font-family: 'Dela Gothic One', cursive;
}